body {
	min-width: 250px;
	background-image: url("skin.jpg");
}
.main{
	margin:0 auto;
	width: 250px;
}
#msg,#welcome,#login_div{
	display: none;
}
.title{
	text-align: center;
}

ul{
	margin:0px auto;
	padding:0px;
}

li{
	list-style-type: none;
}

.content{
	margin:0 10px;
}

ul.meul>li{
	clear: both;
	height:40px;
}

ul#form>li label{
	float:left;
	display:block;
	width:60px;
}

ul#form>li input{
	float:left;
	width:150px;
}

ul#form li input#btn_ok{
	float:right;
	margin-right:20px;
	width:60px;
}
#prompt{
	color:gray;
	height:16px;
}
#prompt_msg{
	margin:0 auto;
}
#logOut{
	float: right;
	margin-right:20px;
}
#device_par{
	height:auto;
	padding: 5px;
	margin-bottom:10px;
	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f4f4f4;
    border: 0px solid white;
}
#device_ul li input[type="checkbox"]{
	vertical-align: text-bottom;
    margin-bottom: 1px;
}
#device_list{
	padding: 5px;
}
#push-line{
	height: 30px;
}
